body {
    font-family: "Poppins", sans-serif !important;
    font-size: .95rem;
    /*color: black;*/
    /*background-color: #777;*/
    /*margin: 0;
    padding: 0;*/
}

#main-content {
    color: black;
    background-color: white;

    display: flex;
    /*vertically stack children*/
    flex-direction: column;
    /* expand to take full height of page */
    /* min-height overrides both height & max-height */
    min-height: 100vh;
}

#hero {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: white url(/static/img/banner.png) no-repeat center center;
    background-size: cover;
    min-height: 300px;
}

#hero div{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.41);
    display: inline-block;
    border-radius: 5px;
    font-size: 3rem;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2.5em;
    font-size: 14px;
}

footer a {
    color: #f8f9fa;
    margin: 10px;
}

footer a:hover {
    color: dodgerblue;
}

.art-content{
    margin-bottom: 50px;
}
